# This file is a configuration file. It allows you to reduce the amount of lines in the terminal to run something. I have set up such that quality and output are predifined. The output sits in an exterior level of the current directory called Animation_output

[CLI]
format = gif
background_opacity = 0.0
progress_bar = display
quality = low_quality
media_dir = ../Animation_output
preview = true 